nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 8%;
}



nav ul {
    display: flex;
    list-style: none;
    padding: 0 auto;
    gap: 24px;
    font-weight: 500;
}