.signup{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 40px;
    /* Add this line */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.signup h2{
    text-align: center;
    margin-bottom: 20px;
}

.signup label{
    font-weight: bold;
    margin-top: 10px;
}

.signup input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    width: 300px;
}

.signup button{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup button:hover{
    background-color: #0056b3;
}

.signup a{
    color: #007bff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.signup a:hover{
    color: black;
}
.signup .response-op p{
    text-align: center;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}