.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #938484;
}

.navbar-left {
    flex: 1;
}

.navbar-left a {
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-left a:hover {
    color: rgb(191, 191, 234);
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    margin-left: -2rem;
    margin-right: 4rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.navbar-right a:hover {
    color: rgb(191, 191, 234);
}